@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black dark:bg-neutral-950 dark:text-white;
  }
}

.animate-blurred-fade-in {
  animation: blurred-fade-in 1.2s ease-in-out;
}

@keyframes blurred-fade-in {
  0% {
    filter: blur(5px);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    opacity: 1;
  }
}
